.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.sale__btn {
  margin-top: 2rem;
  color: var(--white);
  background-color: var(--text-dark);
}
